<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>tercera forma de trabajo condicionales</title>
</head>
<body>
    <div id="app">
        <button>mostrar/ocultar</button>
        <ul v-if="mostrar">
            <li v-for="(show, index) in tvshows" :key="index"> <!-- la abreviaturade 'v-bind:key' es ':key'-->
        <strong>{{ show.name}}</strong> ({{ show.seasons}} temporadas)
        </li>
        </ul>
        <div v-else>
            no hay datos
        </div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"> </script>
    <script>
        const app = new Vue({
            el: '#app',
            data: {
                mostrar:true,
             tvshows: [
                   { name: 'juego de tronos', seasons: 8},
                   { name: 'el cazador de brujas', seasons: 6},
                   { name: 'el pianuista', seasons: 9}
                  ] 
             
            },
            methods: {
                changeVisibility: function (){
                    this.mostrar = !this.mostrar
                }
            }
        })

    </script>
</body>
</html>